nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-light-text-color);
  opacity: 0;
  animation: headerFadeIn 0.4s ease-in 2.5s forwards;
}

nav .logo {
  font-size: 1.45rem;
  color: var(--primary-light-text-color);
  font-weight: 200;
  letter-spacing: 2px;
}

.nav-list-container {
  visibility: visible;
  animation: none;
}

.nav-list ul {
  display: flex;
}

.nav-list ul li {
  padding: 0.6rem 0.95rem;
  margin: 0 0.5rem;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.nav-list ul li a {
  display: inline-block;
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: none;
  background: linear-gradient(
    to right,
    #ccc 50%,
    var(--secondary-color) 50%,
    var(--dark-secondary-color)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.4s ease-in, transform 0.15s ease-in;
}

.nav-list ul li:hover a {
  background-position: -100%;
  transform: translateY(-4px);
}

.hamburger,
.close {
  font-size: 1.5rem;
  display: none;
  color: var(--primary-light-text-color);
  align-self: center;
  cursor: pointer;
}

.faded {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  nav {
    animation: none;
    opacity: 1;
    padding: 1.4rem 2rem;
  }
  .nav-list-container {
    position: absolute;
    visibility: hidden;
    top: 6rem;
    right: 0%;
  }
  .hamburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    position: absolute;
    top: 15%;
    left: 0;
    width: 75%;
    margin: 0 auto;

    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1000;
  }

  .mobile-menu .close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #333;
    padding: 6% 8%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: rgba(170, 170, 170, 0.3) 0px 13px 27px -5px,
      rgba(170, 170, 170, 0.3) 0px 8px 16px -8px;

    padding: 2rem 0;
  }

  .nav-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
  }

  .nav-list ul li {
    padding: 1rem 1.2rem 0.8rem 1rem;
    width: 92%;
    position: relative;
  }

  .nav-list ul li::after {
    content: none;
  }

  .nav-list ul li:hover,
  .nav-list ul li:hover a {
    border-radius: 0;
    background-color: var(--dark-secondary-color);
    color: white;
  }

  .nav-list ul li a {
    font-weight: 300;
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    width: 100%;
    background: rgb(95, 36, 38);
    padding: 0.85rem 1rem;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }
  .fade-in {
    animation: fade-in 0.35s ease-in forwards;
  }
}

@keyframes headerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
